<section class="cl-main-section">
  <article class="cl-article">
    <div class="cl-article__content">
      <h2 class="cl-heading">TYPOGRAPHY</h2>


      <div class="grid  grid-equals">

        <div class="grid__item  grid--padded">

          <div class="grid grid-equals">
            <div class="grid__item grid grid--column">
              <div class="grid__item"><span class="light">Light</span></div>
              <div class="grid__item"><span class="cl-notes">@light <br>font-weight: 300;</span></div>
            </div>
            <div class="grid__item">
              <div class="grid__item grid grid--column">
                <div class="grid__item"><span>Regular</span></div>
                <div class="grid__item"><span class="cl-notes">@regular <br>font-weight: 400;</span></div>
              </div>
            </div>
            <div class="grid__item">
              <div class="grid__item grid grid--column">
                <div class="grid__item"><span class="semiBold">Semibold</span></div>
                <div class="grid__item"><span class="cl-notes">@semiBold <br>font-weight: 600;</span></div>
              </div>
            </div>
            <div class="grid__item">
              <div class="grid__item grid grid--column">
                <div class="grid__item"><span class="bold">Bold</span></div>
                <div class="grid__item"><span class="cl-notes">@bold <br>font-weight: 800;</span></div>
              </div>
            </div>
          </div>
          <div class="cl-headings  grid  grid--column  cls-article__section">

            <div class="grid__item  grid  grid-equals  grid-row--center">
              <div class="grid__item  cl-grid__item">
                <h1>Page title</h1>
              </div>
              <div class="grid__item">
                <span class="cl-notes">20pt - @light - rgba(0,0,0,0.85)</span>
              </div>
            </div>

            <div class="grid__item  grid grid-equals  grid-row--center">
              <div class="grid__item  cl-grid__item">
                <h2>Section title</h2>
              </div>
              <div class="grid__item">
                <span class="cl-notes">16pt - @light - rgba(0,0,0,0.85)</span>
              </div>
            </div>

            <div class="grid__item  grid  grid-equals  grid-row--center">
              <div class="grid__item  cl-grid__item">
                <h3>Subheader</h3>
              </div>
              <div class="grid__item">
                <span class="cl-notes">14pt - @semiBold - rgba(0,0,0,0.75)</span>
              </div>
            </div>

            <div class="grid__item  grid  grid-equals  grid-row--center">
              <div class="grid__item  cl-grid__item">
                <h4>Small header</h4>
              </div>
              <div class="grid__item">
                <span class="cl-notes">12pt - @semiBold - rgba(0,0,0,0.75)</span>
              </div>
            </div>
          </div>

          <div class="grid  grid--column  cls-article__section">
            <div class="grid__item  grid  grid-equals  grid-row--center ">
              <div class="grid__item  cl-grid__item">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec hendrerit ante. Sed ut varius ligula.
                  Nunc malesuada mi arcu, volutpat ullamcorper sem pellentesque ut. Duis placerat nulla arcu, eget placerat
                  orci porttitor in. In luctus, ex vel vestibulum lobortis, lectus ligula mollis nulla, nec molestie urna
                  metus in elit.</p>

              </div>
              <div class="grid__item">
                <span class="cl-notes">.lead - 14pt (@font-size-large) - @regular - rgba(0,0,0,0.85) </span>
              </div>
            </div>
            <div class="grid__item  grid  grid-equals  grid-row--center ">
              <div class="grid__item  cl-grid__item">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec hendrerit ante. Sed ut varius ligula.
                  Nunc malesuada mi arcu, volutpat ullamcorper sem pellentesque ut. Duis placerat nulla arcu, eget placerat
                  orci porttitor in. In luctus, ex vel vestibulum lobortis, lectus ligula mollis nulla, nec molestie urna
                  metus in elit.</p>

              </div>
              <div class="grid__item">
                <span class="cl-notes">12pt (@font-size-base) - @regular - rgba(0,0,0,0.85) </span>
              </div>
            </div>
            <div class="grid__item  grid  grid-equals  grid-row--center">
              <div class="grid__item  cl-grid__item">
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec hendrerit ante. Sed ut varius ligula.
                  Nunc malesuada mi arcu, volutpat ullamcorper sem pellentesque ut. Duis placerat nulla arcu, eget placerat
                  orci porttitor in. In luctus, ex vel vestibulum lobortis, lectus ligula mollis nulla, nec molestie urna
                  metus in elit.</p>

              </div>
              <div class="grid__item">
                <span class="cl-notes">.small, small - 10pt - @regular - rgba(0,0,0,0.85) </span>
              </div>
            </div>
          </div>

          <div class="grid  grid-equals">
            <div class="grid__item  grid  grid--column">
              <div class="grid__item  grid grid-equals">
                <div class="grid__item">
                  <span class="subtle">Subtle text</span>
                </div>
                <div class="grid__item">
                  <span class="cl-notes">rgba(0,0,0,0.35)</span>
                </div>
              </div>
              <div class="grid__item  grid grid-equals">
                <div class="grid__item">
                  <span class="faded">Faded text</span>
                </div>
                <div class="grid__item">
                  <span class="cl-notes">rgba(0,0,0,0.5)</span>
                </div>
              </div>
            </div>
            <div class="grid__item  grid  grid--column">
              <div class="grid__item  grid grid-equals">
                <div class="grid__item">
                  <a href="#">Link</a>
                </div>
                <div class="grid__item">
                  <span class="cl-notes"></span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="grid__item  cl-dark-bg  inverse-text  grid--padded  padded">

          <div class="grid grid-equals">
            <div class="grid__item grid grid--column">
              <div class="grid__item"><span class="light">Light</span></div>
              <div class="grid__item"><span class="cl-notes">@light <br>font-weight: 300;</span></div>
            </div>
            <div class="grid__item">
              <div class="grid__item grid grid--column">
                <div class="grid__item"><span>Regular</span></div>
                <div class="grid__item"><span class="cl-notes">@regular <br>font-weight: 400;</span></div>
              </div>
            </div>
            <div class="grid__item">
              <div class="grid__item grid grid--column">
                <div class="grid__item"><span class="semiBold">Semibold</span></div>
                <div class="grid__item"><span class="cl-notes">@semiBold <br>font-weight: 600;</span></div>
              </div>
            </div>
            <div class="grid__item">
              <div class="grid__item grid grid--column">
                <div class="grid__item"><span class="bold">Bold</span></div>
                <div class="grid__item"><span class="cl-notes">@bold <br>font-weight: 800;</span></div>
              </div>
            </div>
          </div>
          <div class="cl-headings  grid  grid--column  cls-article__section">

            <div class="grid__item  grid  grid-equals  grid-row--center">
              <div class="grid__item  cl-grid__item">
                <h1>Page title</h1>
              </div>
              <div class="grid__item">
                <span class="cl-notes">20pt - @light - rgba(255,255,255,0.85)</span>
              </div>
            </div>

            <div class="grid__item  grid grid-equals  grid-row--center">
              <div class="grid__item  cl-grid__item">
                <h2>Section title</h2>
              </div>
              <div class="grid__item">
                <span class="cl-notes">16pt - @light - rgba(255,255,255,0.85)</span>
              </div>
            </div>

            <div class="grid__item  grid  grid-equals  grid-row--center">
              <div class="grid__item  cl-grid__item">
                <h3>Subheader</h3>
              </div>
              <div class="grid__item">
                <span class="cl-notes">14pt - @semiBold - rgba(255,255,255,0.85)</span>
              </div>
            </div>

            <div class="grid__item  grid  grid-equals  grid-row--center">
              <div class="grid__item  cl-grid__item">
                <h4>Small header</h4>
              </div>
              <div class="grid__item">
                <span class="cl-notes">12pt - @semiBold - rgba(255,255,255,0.85)</span>
              </div>
            </div>
          </div>

          <div class="grid  grid--column  cls-article__section">
            <div class="grid__item  grid  grid-equals  grid-row--center ">
              <div class="grid__item  cl-grid__item">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec hendrerit ante. Sed ut varius ligula.
                  Nunc malesuada mi arcu, volutpat ullamcorper sem pellentesque ut. Duis placerat nulla arcu, eget placerat
                  orci porttitor in. In luctus, ex vel vestibulum lobortis, lectus ligula mollis nulla, nec molestie urna
                  metus in elit.</p>

              </div>
              <div class="grid__item">
                <span class="cl-notes">14pt - @regular - rgba(255,255,255,0.85) </span>
              </div>
            </div>
            <div class="grid__item  grid  grid-equals  grid-row--center">
              <div class="grid__item  cl-grid__item">
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec hendrerit ante. Sed ut varius ligula.
                  Nunc malesuada mi arcu, volutpat ullamcorper sem pellentesque ut. Duis placerat nulla arcu, eget placerat
                  orci porttitor in. In luctus, ex vel vestibulum lobortis, lectus ligula mollis nulla, nec molestie urna
                  metus in elit.</p>

              </div>
              <div class="grid__item">
                <span class="cl-notes">12pt - @regular - rgba(255,255,255,0.85) </span>
              </div>
            </div>
          </div>

          <div class="grid  grid-equals">
            <div class="grid__item  grid  grid--column">
              <div class="grid__item  grid grid-equals">
                <div class="grid__item">
                  <span class="subtle">Subtle text</span>
                </div>
                <div class="grid__item">
                  <span class="cl-notes">rgba(255,255,255,0.35)</span>
                </div>
              </div>
              <div class="grid__item  grid grid-equals">
                <div class="grid__item">
                  <span class="faded">Faded text</span>
                </div>
                <div class="grid__item">
                  <span class="cl-notes">rgba(255,255,255,0.5)</span>
                </div>
              </div>
            </div>
            <div class="grid__item  grid  grid--column">
              <div class="grid__item  grid grid-equals">
                <div class="grid__item">
                  <a href="#">Link</a>
                </div>
                <div class="grid__item">
                  <span class="cl-notes"></span>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>


      <h2 class="cl-heading">COLOURS</h2>

      <div class="grid  grid-equals">

        <div class="grid__item">

          <div class="grid  grid-equals  cls-article__section">
            
            <div class="grid__item  grid  grid--column  grid--padded">
              <div class="grid__item  grid  grid--padded">
                
                <div class="grid__item">
                  <div class="colour-pallet-item  primary-dark-bg"></div>
                </div>
                <div class="grid__item">
                  <span class="cl-notes">@primary-dark <br>#093b58</span>
                </div>

              </div>
              <div class="grid__item  grid  grid--padded">
                
                <div class="grid__item">
                  <div class="colour-pallet-item  primary-bg"></div>
                </div>
                <div class="grid__item">
                    <span class="cl-notes">@primary <br>#13547a</span>
                </div>

              </div>
              <div class="grid__item  grid  grid--padded">


                  <div class="grid__item">
                      <div class="colour-pallet-item  primary-light-bg"></div>
                    </div>
                    <div class="grid__item">
                        <span class="cl-notes">@primary-light <br>30% <br>#B4C3CC</span>
                    </div>

              </div>
            </div>
              
            <div class="grid__item  grid  grid--column  grid--padded">
              <div class="grid__item  grid  grid--padded">

                  <div class="grid__item">
                    <div class="colour-pallet-item  accent-dark-bg"></div>
                  </div>
                  <div class="grid__item">
                    <span class="cl-notes">@accent-dark <br>#872901</span>
                  </div>

              </div>
              <div class="grid__item  grid  grid--padded">


                  <div class="grid__item">
                      <div class="colour-pallet-item  accent-bg"></div>
                    </div>
                    <div class="grid__item">
                        <span class="cl-notes">@accent <br>#fe4d01</span>
                    </div>

              </div>
              <div class="grid__item  grid  grid--padded">
                

                  <div class="grid__item">
                      <div class="colour-pallet-item  accent-light-bg"></div>
                    </div>
                    <div class="grid__item">
                        <span class="cl-notes">@accent-light <br>30% <br>#FFC9B2</span>
                    </div>

              </div>
            </div>
            
            <div class="grid__item  grid  grid--column  grid--padded"></div>
            <div class="grid__item  grid  grid--column  grid--padded"></div>
          </div>

          <div class="grid  grid-equals  cls-article__section">
              
            <div class="grid__item  grid  grid--column  grid--padded">
              <div class="grid__item  grid  grid--padded">

                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  success-dark-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@success-dark <br>#0f8860</span>
                  </div>

              </div>
              <div class="grid__item  grid  grid--padded">
                

                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  success-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@success <br>#33cc99</span>
                  </div>

              </div>
              <div class="grid__item  grid  grid--padded">

                

                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  success-light-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@success-light <br>30% <br>#C1F0E0</span>
                  </div>

              </div>
            </div>  


            <div class="grid__item  grid  grid--column  grid--padded">
              <div class="grid__item  grid  grid--padded">

                
                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  warning-dark-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@warning-dark <br>#af7622</span>
                  </div>

              </div>
              <div class="grid__item  grid  grid--padded">

                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  warning-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@warning <br>#ffb64a</span>
                  </div>

              </div>
              <div class="grid__item  grid  grid--padded">

                
                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  warning-light-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@warning-light <br>30% <br>#FFE9C8</span>
                  </div>
              </div>
            </div>  


            
            <div class="grid__item  grid  grid--column  grid--padded">
              <div class="grid__item  grid  grid--padded">

                
                
                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  error-dark-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@error-dark <br>#b04648</span>
                  </div>

              </div>
              <div class="grid__item  grid  grid--padded">
                
                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  error-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@error <br>#f95d61</span>
                  </div>

              </div>
              <div class="grid__item  grid  grid--padded">
                  
                
                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  error-light-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@error-light <br>30% <br>#FDCECF</span>
                  </div>

              </div>
            </div>  


            
            <div class="grid__item  grid  grid--column  grid--padded">
              <div class="grid__item  grid  grid--padded">

                
                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  info-dark-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@info-dark <br>#406a9a</span>
                  </div>

              </div>
              <div class="grid__item  grid  grid--padded">
                

                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  info-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@info <br>#5692d6</span>
                  </div>

              </div>
              <div class="grid__item  grid  grid--padded">
                

                  <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  info-light-bg"></div>
                  </div>

                  <div class="grid__item">
                      <span class="cl-notes">@info-light <br>30% <br>#CCDEF3</span>
                  </div>
                  
              </div>
            </div>  

          </div>
        </div>
         
        <div class="grid__item  grid--column  grid--padded">
            <div class="grid__item  grid  grid--padded">
              
                <!-- colour item -->
                <div class="grid__item">
                  <div class="colour-pallet-item  black-bg"></div>
                </div>
                <div class="grid__item">
                    <span class="cl-notes">@black <br>#000000</span>
                </div>

            </div>
            <div class="grid__item  grid  grid--padded">
                
                <!-- colour item -->
                  <div class="grid__item">
                    <div class="colour-pallet-item  grey-dark-bg"></div>
                  </div>
                  <div class="grid__item">
                      <span class="cl-notes">@grey-dark <br>47% <br>#898989</span>
                  </div>
            </div>
            <div class="grid__item  grid  grid--padded">
              
                
                <!-- colour item -->
                <div class="grid__item">
                  <div class="colour-pallet-item  grey-bg"></div>
                </div>
                <div class="grid__item">
                    <span class="cl-notes">@grey <br>20% <br>#cccccc</span>
                </div>
            </div>
            <div class="grid__item  grid  grid--padded">
                
                <!-- colour item -->
                <div class="grid__item">
                  <div class="colour-pallet-item  grey-light-bg"></div>
                </div>
                <div class="grid__item">
                    <span class="cl-notes">@grey-light <br>8% <br>#ebebeb</span>
                </div>

            </div>
            <div class="grid__item  grid  grid--padded">
                
                <!-- colour item -->
                <div class="grid__item">
                  <div class="colour-pallet-item  grey-lightest-bg"></div>
                </div>
                <div class="grid__item">
                    <span class="cl-notes">@grey-lightest <br>5% <br>#f2f2f2</span>
                </div>
            </div>
            
        </div>

      </div>

      <h2 class="cl-heading">TYPE/ICON SCALING</h2>
      <div class="grid  grid-equals  grid--padded">
        <div class="grid__item">
          <div class="grid  grid--padded  grid--flex-end  cl-scaling">
            <span class="grid__item  font-down-1">12</span>
            <span class="grid__item ">14</span>
            <span class="grid__item  font-up-1">16</span>
            <span class="grid__item  font-up-2">20</span>
            <span class="grid__item  font-up-3">24</span>
            <span class="grid__item  font-up-4">30</span>
            <span class="grid__item  font-up-5">38</span>
            <span class="grid__item  font-up-6">48</span>
            <span class="grid__item  font-up-7">60</span>
            <span class="grid__item  font-up-8">74</span>
            <span class="grid__item  font-up-9">94</span>

          </div>
          <br/>
          <p class="cl-notes  cl-notes-lg  semiBold">3/4 scale</p>
        </div>

        <div class="grid__item">
      
          <div class="grid  grid--padded  grid--flex-end  cl-scaling">
            <div class="grid__item  font-down-1"><span class="icon-home6"></span></div>
            <div class="grid__item "><span class="icon-home6"></span></div>
            <div class="grid__item  font-up-1"><span class="icon-home6"></span></div>
            <div class="grid__item  font-up-2"><span class="icon-home6"></span></div>
            <div class="grid__item  font-up-3"><span class="icon-home6"></span></div>
            <div class="grid__item  font-up-4"><span class="icon-home6"></span></div>
            <div class="grid__item  font-up-5"><span class="icon-home6"></span></div>
            <div class="grid__item  font-up-6"><span class="icon-home6"></span></div>
            <div class="grid__item  font-up-7"><span class="icon-home6"></span></div>
            <div class="grid__item  font-up-8"><span class="icon-home6"></span></div>
            <div class="grid__item  font-up-9"><span class="icon-home6"></span></div>

          </div>
          
          <br/>
          <p class="cl-notes  cl-notes-lg  semiBold">3/4 scale</p>
        
        </div>

    </div>

  </article>
</section>