<section class="cl-main-section">
    <header class="cl-page-header">
      <h1 class="cl-heading">Contacts</h1>
    </header>
    <!-- <div class="group-contacts">
        
              <div class="group-contacts__name text-icon"><i class="icon icon-couplemalefemale"></i><span class="text">Mr & Mrs Jones</span></div>
              
              <div class="contact">
                <div class="contact__line">
                  <div class="text-icon  contact__item  contact__name"><i class="icon icon-user"></i><span class="text">Lee Crosby</span></div>
                </div>
                <div class="contact__line">
                  <div class="text-icon  contact-item  contact__phone"><i class="icon icon-phone2"></i><a class="text" href="tel:07837982"class="text">07837982</a></div>
                  <div class="text-icon  contact-item  contact__email"><i class="icon icon-envelop"></i><a class="text" href="mailto:test.test@test.com" class="text">test.test@test.com</a></div>
                </div>
              </div>
              
              <div class="contact">
                <div class="contact__line">
                  <div class="text-icon  contact__item  contact__name"><i class="icon icon-user"></i><span class="text">Lee Crosby</span></div>
                </div>
                <div class="contact__line">
                  <div class="text-icon  contact-item  contact__phone"><i class="icon icon-phone2"></i><a class="text" href="tel:07837982"class="text">07837982</a></div>
                  <div class="text-icon  contact-item  contact__email"><i class="icon icon-envelop"></i><a class="text" href="mailto:test.test@test.com" class="text">test.test@test.com</a></div>
                </div>
              </div>
        
            </div> -->
    <!-- ko widget: { kind: 'CodeViewer', component: component }--><!-- /ko -->
    
  </section>
  
  