<section class="cl-main-section">
    <header class="cl-page-header">
      <h1 class="cl-heading">
        Components
        <small>Inputs</small>
      </h1>
    </header>
 
  <!-- ko widget: { kind: 'text-input', config: {
      id:'test_text',
      value: "",
      placeholder: "Hint text" ,
      name: 'textInputExample',
      form: 'inputtest',
      tabindex: 1,
      autofocus: true,
      disabled:false,
      required:false,
      spellcheck: true,
      readonly:false
    }}--><!-- /ko-->

    <!-- ko widget: { kind: 'CodeViewer', component: component }--><!-- /ko -->
    
  </section>
  
  