<section class="cl-main-section">
  <header class="cl-page-header">
    <h1 class="cl-heading">
      Components
      <small>Input fields</small>
    </h1>
  </header>

  <!-- ko widget: { kind: 'text-input-field', config: {
      id:'test_text',
      label: "Text input example (for short text entries)",
      value: "",
      placeholder: "Hint text" ,
      name: 'textInputExample',
      form: 'inputtest',
      tabindex: 1,
      autofocus: true,
      disabled:false,
      required:false,
      spellcheck: true,
      readonly:false
    }}--><!-- /ko-->

  <!-- ko widget: { kind: 'textarea-input-field', config: {
      id:'test_textarea',
      label: "Textarea input example (for long text entries)",
      value: "",
      placeholder: "Hint text" ,
      rows: 4,
      name: 'textareaExample',
      form: 'inputtest',
      tabindex: 2
    }}--><!-- /ko-->


  <!-- ko widget: { kind: 'select-input-field', config: {
      id:'test_selectbox',
      label: "Select input example (for single option select)",
      name: 'selectExample',
      form: 'inputtest',
      tabindex: 3,
      disabled:false,
      required:false,
      multiple:false,
      autofocus: false
    }}--><!-- /ko-->

  <!-- ko widget: { kind: 'CodeViewer', component: component }-->
  <!-- /ko -->

</section>
