

@primary-dark:  #093b58;
@primary:       #13547a;
@primary-light:  #b4c3cc;
@primary-alpha: hsla(202, 84%, 48%, 0.3);

@accent-dark:   #872901;
@accent:        #fe4d01;
@accent-light:  #ffc9b2;
@accent-alpha:  hsla(18, 100%, 100%, 0.3);

@success-dark:  #0f8860;
@success:       #33cc99;
@success-light: #c1f0e0;
@success-alpha: hsla(160, 75%, 80%, 0.3);

@warning-dark:  #af7622;
@warning:       #ffb64a;
@warning-light: #ffe9c8;
@warning-alpha: hsla(36, 71%, 100%, 0.3);

@error-dark:    #b04648;
@error:         #f95d61;
@error-light:   #fdcecf;
@error-alpha:   hsla(358, 63%, 98%, 0.3);

@info-dark:     #406a9a;
@info:          #5692d6;
@info-light:    #ccdef3;
@info-alpha:    hsla(212, 60%, 84%, 0.3);

@grey-dark:     #898989;
@grey-dark-alpha: hsla(0, 0%, 0%, 0.47);
@grey:          #cccccc;
@grey-alpha:    hsla(0, 0%, 0%, 0.2);
@grey-light:    #ebebeb;
@grey-light-alpha: hsla(0, 0%, 0%, 0.08);
@grey-lightest: #f2f2f2;
@grey-lightest-alpha: hsla(0, 0%, 0%, 0.05);

//#TYPOGRAPHY
@font-colour:         hsla(0, 0%, 0%, 0.85);
@font-colour-faded:   hsla(0, 0%, 0%, 0.5);
@font-colour-subtle:  hsla(0, 0%, 0%, 0.35);

@font-colour-invert:      hsla(0, 0%, 100%, 0.85);
@font-colour-invert-faded: hsla(0, 0%, 100%, 0.5);
@font-colour-invert-subtle:  hsla(0, 0%, 0%, 0.35);

@link:   #0c5fa4;

@font-weight-light:       300;
@font-weight-regular:     400;
@font-weight-semibold:    600;
@font-weight-bold:        700;

@heading1:      2rem;
@heading2:      1.6rem;
@heading3:      1.4rem;
@heading4:      1.2rem;

@font-regular:  1.4rem;
@font-small:    1.2rem;

@light:     300;
@semi-bold: 600;
@bold:      700;


@cl-menubar-width: 20rem;
@cl-header-color: @primary;
@cl-header-height: 8rem;

@cl-article-aside-width: 20rem;

@padding-base-vertical:     0.6rem;
@padding-base-horizontal:   1.2rem;

@padding-large-vertical:    1.0rem;
@padding-large-horizontal:  1.6rem;

@padding-small-vertical:    0.5rem;
@padding-small-horizontal:  1rem;

@padding-xs-vertical:       0.1rem;
@padding-xs-horizontal:     0.5rem;

html{
  box-sizing: border-box;
  height:100%;
  overflow: hidden;
}
body{
  box-sizing: border-box;
  height:100%;
}
#applicationHost{
  box-sizing: border-box;
  height:100%;
}
.cl-app{
  display:flex;
  flex-direction: row;

  box-sizing: border-box;
  height:100%;

  font-size: 1.4rem;
}

//#CL-MENUBAR
.cl-menubar {
  overflow-y: auto;
  position:relative;

  box-sizing: border-box;
  width:@cl-menubar-width;
  min-width:@cl-menubar-width;

  //background-color:@grey-light-alpha;
}
.cl-menu{
  margin:0;
  padding:0;

  list-style:none;
}
.cl-menu__menuitem > a{
  display:inline-block;
  box-sizing:border-box;
  width:100%;
  padding:@padding-small-vertical @padding-small-horizontal;
  
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;

  color:rgba(0,0,0,0.85);
  text-align:right;
}
.cl-menu__menuitem a:hover{
  background-color:rgba(0,0,0,0.025);
  text-decoration: none;
}
.cl-menu__menuitem.active a{
  background-color:rgba(0,0,0,0.08);
  text-decoration: none;

  border-top:1px solid rgba(0,0,0,0.05);
  border-bottom:1px solid rgba(0,0,0,0.05);
}

.cl-display-menu {
  position:fixed;
  top:3px;
  left:3px;
  border-radius: 4px;
  background-color:rgba(0,0,0,0.6);;
  width:3rem;
  height:3rem;
  z-index:100;
  display:flex;
  align-items: center;
  justify-content: center;
  border:1px solid rgba(0,0,0,0.12);
  opacity: 0.3;
}

.cl-display-menu:hover{
  opacity:1;
  cursor: pointer;
}

.cl-app--hideMenu .cl-menubar{
  width:0;
}

.cl-menubar__header{
  height:@cl-header-height;
  background-color:@primary-dark;
  color:@font-colour-invert;
  background-image: url("../images/pm logo-white.png");
  background-position: 10px center;
  background-repeat: no-repeat;
}

//#CL-MAIN
.cl-main {
  position:relative;
  flex:1;
  width:100%;
  max-width:~"calc(100% - @{cl-menubar-width})";
  box-sizing: border-box;
}
.cl-loader {
  position:absolute;
  top:0;
  width:100%;
  height:100%;

  display:flex;
  align-items:center;
  justify-content: center;

  z-index:100;
  padding:1rem;

  background-color:rgba(255,255,255,0.65);
  color:rgba(0,0,0,0.65);
}
.cl-main__content {
  box-sizing:border-box;
  width:100%;
  height:100%;
}
.cl-main-section {
  height:100%;
  overflow-y: auto;
}
.cl-page-header {
  display:flex;
  align-items:flex-end;

  min-height:@cl-header-height;
  padding:@padding-large-vertical @padding-large-horizontal @padding-small-vertical;
  border-left:1px solid @grey-light-alpha;

  background-color:@cl-header-color;
  color:@font-colour-invert;
  h1 small{
    color:@font-colour-invert-faded;
  }
}
.cl-article{
  display:flex;
  position:relative;
  height:~"calc(100% - @{cl-header-height})";
  align-items: stretch;
  padding-bottom:@padding-base-vertical;
  
}

.cl-notes {
  color:#FF00FF;
  font-size:1.2rem;
}

.cl-notes-lg {
  font-size:2rem;
}

.cl-article__content{
  flex:1;
  height:100%;
  width:~"calc(100% - @{cl-article-aside-width})";
  padding:@padding-large-vertical @padding-large-horizontal;
  //border-left:1px solid @grey-light-alpha;
  
  h2.cl-heading, h3.cl-heading, h4.cl-heading, h5.cl-heading {
    color:@primary;
  }
}

h1.cl-heading{
  font-size:3rem;
  font-weight:@light;
}
h2.cl-heading{
  font-size:2rem;
  font-weight:@semi-bold;
}
h3.cl-heading{
  font-size:1.6rem;
  font-weight:@semi-bold;
}
h4.cl-heading{
  font-size:1.4rem;
  font-weight:@semi-bold;
}

.cls-article__section {
    padding:@padding-large-vertical 0;
}

.cl-preview__item {
  border:1px solid rgba(0,0,0,0.13);
  padding:@padding-large-vertical @padding-large-horizontal;
  background-color:rgba(0,0,0,0.01);
}



//////////////////////
//#cl-accordian
//////////////////////
.cl-accordian {

}

.cl-accordian__header {
  font-size:1.6rem;
  font-weight: 600;
  padding: @padding-base-vertical @padding-base-horizontal;
}

.cl-accordian__header:hover {
  background-color: rgba(0,0,0,0.03);
  cursor: pointer;
}

.cl-accordian-header__icon{
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out,
              opacity 0.2s ease-in-out;
  opacity: 0.5;
}

.cl-accordian__body {
  display:none;
  padding: @padding-base-vertical @padding-base-horizontal;
}

.cl-accordian__item.cl-accordian__item--open {
  
  .cl-accordian-header__icon{
    transform: rotate(0deg);
    opacity: 1;
  }
  .cl-accordian__body {
    display:block;
  }
}


.cl-dark-bg {
  background-color:@primary-dark;
}

.padded {
  padding: @padding-large-vertical @padding-large-horizontal;
}

///////////////////////////
//#tabs
///////////////////////////
.tab-pane {
  padding: @padding-large-vertical @padding-large-horizontal;
}


//////////////////////////
//#cl-article-aside
//////////////////////////

.cl-article__aside {
  width: @cl-article-aside-width;
  border-left:2px solid rgba(0,0,0,0.13);
  box-sizing: border-box;
  height:~"calc(100% - 4rem)";
  padding: 0rem 1rem;
  margin:2rem 0;
}


.cl-article-aside__section + .cl-article-aside__section {
  margin-top:2.4rem;
}

.colour-pallet-item{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.primary-bg {
  background-color:@primary;
}
.primary-dark-bg {
  background-color:@primary-dark;
}
.primary-light-bg {
  background-color:@primary-light;
}


.accent-bg {
  background-color:@accent;
}
.accent-dark-bg {
  background-color:@accent-dark;
}
.accent-light-bg {
  background-color:@accent-light;
}


.success-bg {
  background-color:@success;
}
.success-dark-bg {
  background-color:@success-dark;
}
.success-light-bg {
  background-color:@success-light;
}


.warning-bg {
  background-color:@warning;
}
.warning-dark-bg {
  background-color:@warning-dark;
}
.warning-light-bg {
  background-color:@warning-light;
}


.error-bg {
  background-color:@error;
}
.error-dark-bg {
  background-color:@error-dark;
}
.error-light-bg {
  background-color:@error-light;
}


.info-bg {
  background-color:@info;
}
.info-dark-bg {
  background-color:@info-dark;
}
.info-light-bg {
  background-color:@info-light;
}


.black-bg {
  background-color:black;
}
.grey-dark-bg {
  background-color:@grey-dark-alpha;
}
.grey-bg {
  background-color:@grey-alpha;
}
.grey-light-bg {
  background-color:@grey-light-alpha;
}
.grey-lightest-bg {
  background-color:@grey-lightest-alpha;
}

//////////////////////////
//# component viewer
//////////////////////////
.cl-modifiers {
  display:none;
}
.cl-modifiers--open {
  display:block;
}